header{
  width: 100%;

  .first-row-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    background-color: $link-blue;
    color: #000;
    
    .user-wrapper{
      display: flex;
      flex-direction: row;
      gap: 1rem;
      justify-content: center;
      align-items: center;
      align-content: center;

      .tabler-icon-user-circle{
        width: 30px;
        height: 30px;
        stroke-width: 1px;
      }

      button{
        padding: 10px;
        background-color: $link-blue;
        display: flex;
        text-align: center;
        align-items: center;
        align-content: center;
        justify-content: center;
        gap: 5px;


        &:hover{
          @include hover-link-button;
        }

        &:active{
          cursor:default;
        }
      }
    }
  }
}

.navbar{
  background-color:$link-blue;
  color: #000;
  font-size: 2rem;
  padding: 2rem;
  border-bottom-left-radius: 50% 20%;
  border-bottom-right-radius: 50% 20%;
  overflow: hidden;
  

  ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    li{
      cursor: pointer;

      &:hover{
        @include hover-link;
      }

      &:active{
        cursor:default;
      }
    }
    .active{
      color: $light-gray;
    }
  }
}
